@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "./grid";

.topHeader-Container{
    flex-direction: row;

}
.login-bottom-section{
    margin-right: 0;
}
@media screen and (max-width:400px)
{
    .topHeader-Container{
        flex-direction: column-reverse;
    }
    .login-bottom-section{
        margin-right: 16px;
    }
}

.bp3-disabled {
    cursor: default !important;
}
.min-h-100{
    min-height: 100% !important;
}
iframe{
    border: none;
    outline: none;
    box-shadow: none;

}
#root {
    min-height: 100vh;
    background-color: #eeeeee63;
    min-width: 800px;
}

div:focus, button:focus {
    outline: none !important;
}
.bp3-tab-indicator-wrapper ~ .bp3-tab{
    padding: 10px !important;
}
.dashboard-tabs{
    .bp3-tab-panel{
        border: 1px solid #f5ecec;
        width: 100%;
        padding-top: 10px;
    }
}
.costume-textarea{
    resize: vertical !important;
}
.bp3-inline{
    .bp3-label, .bp3-form-content{
        width: 50%;
    }
}
.alert-close-sign{
    position: absolute;
    right: 5px;
    top: -5px;
    font-size: 20px;
    cursor: pointer;
}
.planning-frame{
    width: 100%;
    min-height: 400px;
}